// https://coolors.co/fefefe-eaeced-d6d7db-595d70-30323d

$softWhite: rgba(254, 254, 254, 1);
$eggShellWhite: rgba(234, 236, 237, 1);
$lightGrey: rgba(214, 215, 219, 1);
$darkCoral: rgba(89, 93, 112, 1);
$gunMetal: rgba(48, 50, 61, 1);